@use '../abstract/variaveis';
@use '../abstract/mixings';

.rodape{
    background-color: variaveis.$cor-quaternaria;
    padding: 2rem;
    margin-top: 5rem;
    text-align: center;
    @include mixings.ff-fs-color(variaveis.$ft-textos, 1rem, variaveis.$cor-primaria);
}